<!------ Include the above in your HEAD tag ---------->




<h1 class="purple-text" style="font-size: 2.9rem;">

  <span style="font-weight: 100;">♜</span>intego
</h1>
<h2 class="purple-text" style="font-size: 3rem;">Welcome to Intego B2B Console!</h2>
<p> Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fuga fugit, temporibus, dignissimos enim libero
  sapiente,
  odio pariatur at ad eveniet porro commodi dolorum! Fugiat magni odit accusantium neque incidunt esse.Labore illo</p>
{{!-- <div class="col-md-6 col-sm-12"> --}}
  <div class="login-form">
    <form id="basic-form" action="" method="post">
      <div class="row" style="min-height: 200px;">

        <div class="col-lg-6 col-md-12 col-sm-12">
          <label for="email">Admin EMail </label>
          <input id="email" class="form-control" type="email" value="{{body.email}}" name="email" required>
        </div>
        <div class="col-lg-6 col-md-12 col-sm-12">
          <label for="name">Admin Name <span> </span></label>
          <input id="name" class="form-control" name="name" type="text" value="{{body.name}}" required>
        </div>
        <div class="col-lg-6 col-md-12 col-sm-12">
          <label for="company">Company Name <span> </span></label>
          <input id="company" class="form-control" name="company" value="{{body.company}}" minlength="3" type="text"
            required>
        </div>
        <div class="col-lg-6 col-md-12 col-sm-12">
          <label for="password">Admin Password </label>
          <input id="password" value="{{body.password}}" class="form-control" type="password" name="password" required>
          <span id="password-server-error">server check invalid password</span>
        </div>
      </div>

      <div class=" mt-1">
        <input class="btn btn-info submit float-right purple" type="submit" value="NEXT">
        <button class="btn btn-info buttonload float-right purple">LOADING
          <i class="fa fa-spinner fa-spin" style="margin: 0 auto;"></i>
        </button>
      </div>
    </form>


  </div>
  {{!--
</div> --}}
</div>



<script>

  let loader = $(".buttonload")
  $(".step-login").addClass("active")
  try {
    let finishError = "{{finishError.error}}"
    let passwordError = "{{finishError.password}}"
    console.log(passwordError)
    if (passwordError) $("#password-server-error").show()
  }
  catch (e) { }


  $.validator.addMethod("includeName", function (value) {
    let names = $("#name").val().split(" ")
    if (value && names.some((n, index) => {

      if (value.includes(n))
        if (index == 0 || index == names.length - 1) return true // first or last
      return false // middlename
    }))
      return false;
    //if (value && value.includes($("#name").val())) return false;
    return true;
  })
  $.validator.addMethod("pwcheck", function (value) {
    return /[a-z]/.test(value) // has a lowercase letter
      && /[A-Z]/.test(value) // has a uppercase letter
      && /\d/.test(value) // has a digit
  });

  let validated = '';

  $(document).ready(function () {
    validated = $("#basic-form").validate({ ...options });

  });

  $(".submit").on("click", function () {

    console.log({ validated })

    loader.show()
    $(this).hide()
    setTimeout(() => {
      loader.hide()
      $(this).show()
    }, 500)

  }) 
</script>